<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Who makes the most babies?</title>
    <script type="text/javascript" src="{{ url_for('static', filename='d3/d3.js') }}"></script>
		<!-- Bootstrap imports -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" class="ui" href="//oss.maxcdn.com/semantic-ui/2.1.7/semantic.min.css">
		<script src="//oss.maxcdn.com/semantic-ui/2.1.7/semantic.min.js"></script>
		<style type='text/css'>
			.axis path,
			.axis line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}
			.axis text {
				font-family: sans-serif;
				font-size: 11px;
			}
		</style>
	</head>

  <body>
		<div class="container">
	    <center>
				<h1 class='headline'>babyMakers</h1>
				<h4>A tool for investigating the effect of celebrity on the namespace...</h4>
				<h5>Choose an actor/actress:</h5>
			</center>
				{% block body %}
	      {% endblock %}
		</div>
  </body>
</html>
