<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Celebrodisiac</title>
    <script type="text/javascript" src="{{ url_for('static', filename='d3/d3.js') }}"></script>
		<!-- Bootstrap imports -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" class="ui" href="//oss.maxcdn.com/semantic-ui/2.1.7/semantic.min.css">
		<script src="//oss.maxcdn.com/semantic-ui/2.1.7/semantic.min.js"></script>
		<style type='text/css'>
			.axis path,
			.axis line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}
			.axis text {
				font-family: sans-serif;
				font-size: 11px;
			}
			.vcenter {
		    display: inline-block;
		    vertical-align: middle;
		    float: none;
			}
			.top-buffer {
				margin-top: 20px;
			}
			.center-justified {
			  text-align: justify;
			  margin: 0 auto;
			  width: 30em;
			}
			svg {
			    display: block;
			    margin: auto;
			}
			li{
			  margin: 10px 0;
			}
		</style>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	</head>

  <body>
		<div class='top-buffer'></div>
		<div class="container-fluid">
			<div class='row'>
				<div class='col-sm-3 col-sm-offset-2 vcenter'>
					<img class='pull-right' src='http://www.nicharrigan.com/celebrodisiac_webapp/c_logo.png'>
				</div>
				<div class='col-sm-5 vcenter'>
					<center><h1 class='headline pull-left' style='font-size: 60px; font-family: Montserrat; line-height: 34px'>Celebrodisiac <span style='color: red; font-size: 25px;'>[BETA]</span></h1></center>
				</div>
			</div>


			<div class='row'>
				<div class='top-buffer'></div>
				<div class='col-sm-8 col-sm-offset-2 vcenter'>
				<center>
					<h4 style='font-size: 18px; text-align: justify; margin: 0 auto; text-align-last: center;'>Which movie-stars are so embedded in our collective consciousness that we can trace their successes in baby name choices? Celebrodisiac is a tool to help look for these correlations. I mean seriously, why else would anyone call a kid Clint? To learn why I made celebrodisiac, <a href="http://localhost:4000/datascience/python/js/web/celebrodisiac/2016/01/29/celebrodisiac.html">read this colorful blogpost</a>.</h4>
						<h5>Choose an actor/actress and whether to compare with male or female baby names:</h5>
				</center>
			</div>
			</div>

			{% block body %}
			{% endblock %}
			<div class='top-buffer'></div>
			<div class='row'>
				<div class='col-sm-8 col-sm-offset-2'>
					<h1 style='font-size: 40px'>How does it work?</h1>
				</div>
			</div>
			<div class='top-buffer'></div>
			<div class="row">
				<div class='col-sm-8 col-sm-offset-2' style='font-size: 16px'>
					<p>
						Celebrodisiac is a visualization tool for investigating whether the work of a movie-star has influenced US baby-naming trends. The app retrieves US Census data from a local SQL database, and overlays movie releases found through themoviedb public API. The visualisition uses D3.js.
					</p>
					<p>
						Visualisation alone is prone to error and bias, and so celebrodisiac uses two server-side algorithms (in python) to processes the data to help us draw conclusions...
						<ul>
							<li><strong style='color: purple;'>The golden years algorithm:</strong> Helps determine which years are noteworthy for the celebrity? (when we might expect changes in baby names)</li>
							<li><strong style='color:red;'>The significance algorithm:</strong> Helps determine whether any apparent correlation between these years and changes in baby naming are attributable to more than just chance.</li>
						</ul>
					 For more information on each algorithm, click below...
					</p>
					<button data-toggle="collapse" data-target="#gold_yrs" class="ui purple button">
							Golden years algorithm <i class="dropdown icon"></i>
					</button>
					<div id="gold_yrs" class="collapse">
						<div class='top-buffer'></div>
						<p>
							Most Hollywood celebrities have produced many films, spanning decades. It’s crucial that we develop a rule for deciding on a subset of years that we <strong><em>independently</em></strong> predict to be the celebrities ‘golden years’ when they were most in the public eye, and most likely to have influenced baby-naming trends. Then (and only then!) should we look for correlations with increases in baby-naming. Celebrodisiac selects - at most - five years for each celebrity using the following algorithm
						</p>

						<ol>
							<li>Start with all releases between 1930 and most recent year in US census data.</li>
							<li>Remove any releases in which celebrity is not credited as being within top 3 cast list by themoviedb API.</li>
							<li>Score each remaining movie by combining rating and popularity figures available from themoviedb API.</li>
							<li>Score each year based on the number of movies released that year and their respective scores.</li>
							<li>Select the top 5 scoring years as the celebrities ‘golden years’.</li>
						</ol>
						<p>
						This approach has flaws, sometimes missing movies we instinctively know to be influential. It only considers few features (other important features could be: age of celebrity at movies release, stage of career at release, movie revenue, genre of movies made). Also the algorithm's naïve aggregating of movie scores within a single year can result in many mediocre films out-scoring one very significant release (cf: Leonardo Dicaprio and Titanic).
					</p>
					<p>
						This algorithm is currently being updated (hence BETA) with a more feature-rich neural network trained on Google trends data.
					</p>
			</div>
			<br>
			<div class='top-buffer'></div>
			<button data-toggle="collapse" data-target="#sig_alg" class="ui red button">
					Significance algorithm <i class="dropdown icon"></i>
			</button>
			<div id="sig_alg" class="collapse">
				<div class='top-buffer'></div>
				<p>
					Having decided a celebrities most influential years, the significance alogorithm then tries to determine whether those years significantly correlate with relative increases in baby-naming. Unfortunately many standard tools for time-series analysis (eg: cross-correlation functions) aren’t of much use, since we only have one real time-series (baby name data), along with a few discrete events of indeteriminate spacing.
				</p>
				<h3>Scoring</h3>
				<p>
					Celebrodisiac currently generates a rudimentary ‘correlation score’ for each of a celebrities golden years as follows:
				</p>
				<ol>
					<li>Take first derivative of baby name time series to yield rate of change for baby-name occurrences about each year.</li>
					<li>Produce Kernel Density Estimation (KDE) of baby name time series, removing higher frequency variations (leaving ‘smoothed out’ longer term trends). </li>
					<li>Take first derivative of this <em>KDE time series</em>, yielding rates of change for longer wavelength trends.</li>
					<li>Form score for given golden year as difference between the actual derivative for that year and derivative of the KDE (i.e. how the rate of change compares to the background). </li>
					<li>Generate a similar score for the year following current golden year.</li>
					<li>Combine scores for golden year and following year (thus allowing for some leading effect of a movies influence)</li>
				</ol>
				<p>
					The idea behind this algorithm is to look for notable changes in baby-naming <em>above the general background trend within a given epoch</em>. To see why this is important, consider a movie release that genuinely and positively affected baby-naming during an epoch where the name was otherwise on the decline. Then the effect could be visible through an increase in a <em>still negative</em> rate of change. Thus we not only consider the magnitude of rate of change, but it's relation to background trends
				</p>
				<p>
					<h3>Hypothesis testing</h3>
					To judge whether a given score is significant, the null hypothesis is formed that the score value could be explained by chance alignment of years. Testing this hypothesis requires a sample distribution for our score statistic. No obvious analytical form can be deduced. Indeed the distribution varies between celebrities, often being multi-modal. However the distribution can be approximated through Bootstrapping. Repeatedly and randomly choosing sets of years from the celebrities career (with replacement), we generate a histogram of scores that approximates the sample distribution. Sorting and cumulatively summing, we can also approximate a Cumulative Distribution Function, allowing us to estimate a p-value for statstic values.
				</p>
				<p>
					Again, there are flaws in this approach. Only high frequency changes are detected – since longer scale trends are factored out as 'background' by the KDE - making celebrodisiac prone to Type II errors. Other approaches involving Maximum Likelihood Estimate modelling are being pursued.
				</p>
			</div>
			</div>
		</div>
		<div class='top-buffer'></div>
	</div>
  </body>
</html>
